<head>
    <title>Merge PDFs</title>
        {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="overlay">
        <div class="container">
            <h1>The Merger</h1>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <label for="pdfs">Select PDFs</label>
                <input type="file" name="pdfs" id="pdfs" multiple required>
                <button type="submit">Merge</button>
            </form>
        </div>
    </div>
</body>
</html>
